<header class="header">
    <div class="center">
        <img class="logo" src="./../../../assets/img/icons/logo.svg" alt="">
        <app-menu-clients></app-menu-clients>
    </div>
    <div class="search">
        <input id="search" type="text" placeholder="Search...">
        <label for="search" class="cont-img">
            <img src="assets/img/icons/search-normal-svgrepo-com.svg" alt="">
        </label>
    </div>
    <div class="iconos">
        <div class="icono">
            <img src="./../../../assets/img/icons/bag-happy-svgrepo-com.svg" alt="">
            <span>5</span>
        </div>
        <div class="icono">
            <img src="./../../../assets/img/icons/message-text.svg" alt="">
            <span>2</span>
        </div>
        <div class="icono">
            <img src="./../../../assets/img/icons/notification-svgrepo-com.svg" alt="">
            <span>1</span>
        </div>
    </div>

    <div class="cont-btns">
        <button class="btn-sign">Sign Up</button>
        <button class="btn-sign">Sign In</button>
    </div>
</header>