<h1>Pagina de Login</h1>
<div class="form-field">
    <label for="correo">Correo Electronico</label>
    <input type="email" id="correo" placeholder="Ingrese su correo Electrónico">
</div>
<div class="form-field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Ingrese su password">
</div>
<a href="">Restablecer Contraseña</a>
<div class="cont-btn">
    <button class="btn-login">Iniciar Sesión</button>
</div>
<button class="register">¿Aun no tienes cuenta? <span>Registrate</span></button>