<h1 class="title">Formulario Para agregar Imagenes</h1>
<mat-form-field appearance="outline">
    <mat-label>Link de la Imagen</mat-label>
    <input matInput type="text" placeholder="Ingrese la Url de la imagen">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Link de la Imagen</mat-label>
    <input matInput type="text" placeholder="Ingrese la Url de la imagen">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Link de la Imagen</mat-label>
    <input matInput type="text" placeholder="Ingrese la Url de la imagen">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Link de la Imagen</mat-label>
    <input matInput type="text" placeholder="Ingrese la Url de la imagen">
</mat-form-field>